# Database Midterm Notebook

For this assignment i decided to use the `sqlite3` package built in to python because it is easier to run sql script files with it.

Let's start by creating a connection to a local file:

In [15]:
import sqlite3

db = sqlite3.connect("my_db.sqlite") # This creates the files if doesn't exist

Now let's execute our sql script for creating tables:

In [16]:
# Open file and run script
with open("its_tables.sql", "r") as file:
    query = file.read()
    db.executescript(query)

# Show the list of tables
cursor = db.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('Vehicles',), ('Maintenances',), ('Countries',), ('Officials',), ('Drivers',), ('Trips',)]

Insert entries into the tables:

In [17]:
# Open file and run script
with open("its_insert.sql", "r") as file:
    query = file.read()
    db.executescript(query)

Now let's show the database tables:

In [19]:

cursor = db.cursor()

# Show Vehicles
cursor.execute("SELECT * FROM Vehicles")
print(cursor.fetchall())

# Show Maintenances
cursor.execute("SELECT * FROM Maintenances")
print(cursor.fetchall())

# Show Countries
cursor.execute("SELECT * FROM Countries")
print(cursor.fetchall())

# Show Officials
cursor.execute("SELECT * FROM Officials")
print(cursor.fetchall())

# Show Drivers
cursor.execute("SELECT * FROM Drivers")
print(cursor.fetchall())

# Show Trips
cursor.execute("SELECT * FROM Trips")
print(cursor.fetchall())

[(1, 'V1000', '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4, 1), (2, 'V1001', '2006 AFD', 'KIA', 'K7', 'Black', 2195, 4, 1)]
[(1, '20120618 10:34:09 AM', 'M', 'Vehicle revision', 1)]
[(1, 'France', 'FR')]
[(1, 'Jean-Michel', 'Dupont', 'Baguette manager', 'FR', 1)]
[(1, 'Fabien', 'Martins', 'ABCDEFGHIKLMNOP123', 'FR', 3)]
[(1, '20120620 10:30:00 AM', '20120620 12:00:00 AM', 1, 1, 1, 4300, 4350)]